version: 2
nodes:
  - id: src
    kind: source
    plugin: schnitzel_stream.packs.vision.nodes:OpenCvVideoFileSource
    config:
      path: ${oc.env:SS_INPUT_PATH,data/samples/2048246-hd_1920_1080_24fps.mp4}
      source_id: ${oc.env:SS_STREAM_ID,cam01}
      max_frames: ${oc.env:SS_MAX_FRAMES,30}
      loop: ${oc.env:SS_INPUT_LOOP,false}

  - id: sample
    kind: node
    plugin: schnitzel_stream.packs.vision.nodes:EveryNthFrameSamplerNode
    config:
      every_n: 10

  - id: out
    kind: sink
    plugin: schnitzel_stream.nodes.dev:PrintSink
    config:
      prefix: "FRAME "
      forward: false

edges:
  - from: src
    to: sample
  - from: sample
    to: out

config: {}
